@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
body {
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    height: 11vh;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid black;
    position: fixed;
    z-index: 999;
}

.header .container {
    width: 80%;
    height: 11vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo_site {
    width: 30%;
    height: 10vh;
}

#logo_bible_learning {
    height: 9vh;
    margin-left: 1%;
}


.navbar {
    display: flex;
    flex-direction: row;
    width: 30%;
    height: 13vh;
    list-style: none;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.navbar li {
    font-family: 'Exo 2', sans-serif;
    font-size: 19px;
    font-weight: bold;
    cursor: pointer;
    padding: 13px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}

.navbar li:hover {
    background-color: #ced4da;
}

.navbar a {
    font-family: 'Exo 2', sans-serif;
    font-size: 19px;
    font-weight: bold;
    cursor: pointer;
    padding: 13px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}

.navbar a:hover {
    background-color: #ced4da;
}

.banner {
    background-color: #264653;
    width: 100%;
    height: 420vh;
    display: flex;
    justify-content: center;
    color: white;
}

.banner .container {
    width: 80%;
    height: 420vh;
    display: flex;
    flex-direction: column;
}

.banner h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    margin-bottom: 5%;
}

#primeiro_h1 {
    margin-top: 10%;
}

.antigo_testamento {
    width: 100%;
    height: 180vh;
    display: flex;
    flex-direction: column;
}

.novo_testamento {
    width: 100%;
    height: 180vh;
    display: flex;
    flex-direction: column;
}

.selects {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    width: 100%;
    height: 15vh;
}

select {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: bold;
    background-color: #bde0fe;
    border-radius: 5px;
    border: none;
    outline: 0;
    width: 15%;
    height: 4.5vh;
}

select option {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: bold;
    outline: 0;
    border: none;
    height: 10vh;
}

.graficos {
    display: flex;
    width: 100%;
    height: 100vh;
}

#grafico_livros_antigo {
    background-color: #f7ede2;
    border-radius: 10px;
}

#grafico_livros_novo {
    background-color: #f7ede2;
    border-radius: 10px;
}

.interacao_testamento {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    background-color: #f7ede2;
    border-radius: 20px;
    margin-bottom: 8%;
}

.select_testamento {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    width: 40%;
    height: 10vh;
    color: black;
    align-self: flex-start;
    margin-top: 13%;
}

.select_testamento select {
    width: 70%;
    height: 60%;
    margin-left: 8%;
    padding-left: 10px;
    font-size: 25px;
}

.grafico_pizza {
    width: 40%;
    height: 70vh;
}

.footer {
    width: 100%;
    height: 8vh;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'montserrat', sans-serif;
    font-size: 18px;
}