*,
body {
  font-family: "Exo 2", sans-serif;
  margin: 0;
  padding: 0;
}

.header {
    width: 100%;
    height: 11vh;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid black;
}

.header .container {
    width: 80%;
    height: 11vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo_site {
    width: 30%;
    height: 10vh;
}

#logo_bible_learning {
    height: 9vh;
    margin-left: 1%;
}


.navbar {
    display: flex;
    flex-direction: row;
    width: 33%;
    height: 13vh;
    list-style: none;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.navbar li {
    font-family: 'Exo 2', sans-serif;
    font-size: 19px;
    font-weight: bold;
    cursor: pointer;
    padding: 13px;
    border-radius: 5px;
}

.navbar li:hover {
    background-color: #ced4da;
}

.navbar a {
    text-decoration: none;
    color: black;
}

.navbar a:hover {
    background-color: #ced4da;
}

.banner {
    width: 99%;
    height: 100vh;
    display: felx;
}

.avisos {
  width: 100%;
  /* border: 3px solid pink; */
  color: rgb(216, 216, 216);
  font-family: "Exo 2", sans-serif;
}

.avisos .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avisos .container .div-form {
  width: 100%;
}

.avisos .container .div-form #form_postagem {
  width: 100%;
}

.avisos .div-form label {
  width: 100%;
  margin-left: 10%;
}

.avisos .div-form input {
  width: 20%;
  height: 4vh;
  border-radius: 5px;
  font-size: 15px;
  padding-left: 3px;
  margin-left: 10%;
}

.avisos .div-form textarea {
  width: 35%;
  height: 25vh;
  border: 3px solid #e6005a;
  background-color: white;
  border-radius: 5px;
  margin-left: 10%;
}

.avisos .div-form button {
  cursor: pointer;
  font-family: "Exo 2", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #e6005a;
  width: 120px;
  margin-left: 24%;
  margin-top: 1%;
}

.publicacao-btn-editar {
  cursor: pointer;
  font-family: "Exo 2", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 14px;
  padding: 5px 8px;
  color: white;
  background-color: #e6005a;
  width: 80px;
}

.publicacao {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  border-bottom: 3px solid #e6005a;
  padding: 20px;
}

.publicacao > *:not(:last-child) {
  padding: 0 0 10px 0;
}

.div-results {
  width: 100%;
}

.div-results .feed-container {
  background-color: #212124;
  border-radius: 5px;
  margin-bottom: 80px;
}

.div-buttons {
  display: flex;
  justify-content: flex-end;
}

.div-buttons > * {
  margin-left: 30px;
}

.footer {
    width: 100%;
    height: 8vh;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'montserrat', sans-serif;
    font-size: 18px;
}