body {
  margin: 0;
  padding: 0;
  background-color: #98c1d9;
}

.header {
  width: 100%;
  height: 11vh;
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  border-bottom: 2px solid black;
}

.header .container {
  width: 80%;
  height: 11vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo_site {
  width: 30%;
  height: 10vh;
}

#logo_bible_learning {
  height: 9vh;
  margin-left: 1%;
}


.navbar {
  display: flex;
  flex-direction: row;
  width: 23%;
  height: 13vh;
  list-style: none;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.navbar li {
  font-family: 'Exo 2', sans-serif;
  font-size: 19px;
  font-weight: 600;
  cursor: pointer;
  padding: 13px;
  border-radius: 5px;
}

.navbar li:hover {
  background-color: #ced4da;
}

.janela h3 {
  display: none;
}

.janela h1 {
  margin-left: 15%;
}

.janela {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
}

.janela input {
  width: 13%;
  height: 4vh;
  font-size: 15px;
  border-radius: 5px;
  border: 2px solid black;
  outline: 0;
  margin-left: 15%;
  margin-top: .2%;
  margin-bottom: 1%;
  background-color: #FFFFFF;
}

.janela label {
  margin-left: 15%;
  font-size: 25px;
}

#textarea_descricao {
  height: 35vh;
  width: 40%;
  resize: none;
  font-size: 15px;
  margin-left: 15%;
  outline: 0;
  border-radius: 5px;
  border: 2px solid black;
  padding-top: 5px;
  padding-left: 5px;
  margin-top: .2%;
  background-color: #FFFFFF;
}

.janela button {
  margin-left: 32.5%;
  width: 8%;
  height: 4.5vh;
  border-radius: 10px;
  border: 0;
  font-size: 18px;
  background-color: #10002B;
  color: #FFFFFF;
  cursor: pointer;
  transition: .3s;
}

.janela button:hover {
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
  transition: .3s;
}

#titulo_mural {
  font-size: 40px;

}

.publicacao {
  background-color: #264653;
  color: white;
  width: 50%;
  margin-left: 15%;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  border-radius: 10px;
  margin-bottom: 2%;
}

.publicacao-descricao b{
  word-wrap: break-word;
}

.div-buttons {
  width: 10%;
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
}

#btnEditar {
  width: 100%;
  background-color: #a8dadc;
  color: black;
}

#btnDeletar {
  width: 100%;
  background-color: #a8dadc;
  color: black;
}

::-webkit-scrollbar {
  background-color: #B2F7EF;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

::-webkit-scrollbar-thumb {
  background-color: #22333b;
  width: 8px;
}