@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
body {
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    height: 11vh;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid black;
    position: fixed;
    z-index: 999;
}

.header .container {
    width: 80%;
    height: 11vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo_site {
    width: 30%;
    height: 10vh;
}

#logo_bible_learning {
    height: 9vh;
    margin-left: 1%;
}


.navbar {
    display: flex;
    flex-direction: row;
    width: 23%;
    height: 13vh;
    list-style: none;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.navbar li {
    font-family: 'Exo 2', sans-serif;
    font-size: 19px;
    font-weight: bold;
    cursor: pointer;
    padding: 13px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}

.navbar li:hover {
    background-color: #ced4da;
}

.navbar a {
    font-family: 'Exo 2', sans-serif;
    font-size: 19px;
    font-weight: bold;
    cursor: pointer;
    padding: 13px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}

.navbar a:hover {
    background-color: #ced4da;
}

.banner {
    width: 100%;
    height: 690vh;
    background-color: #f5ebe0;
    display: flex;
    justify-content: center;
}

.banner .container {    
    margin-left: 3%;
    width: 80%;
    height: 690vh;
    display: flex;
    flex-direction: column;
}

#first_title {
    margin-top: 12%;
    font-size: 60px;
}

.container p {
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    width: 70%;
    height: 6.5%;
    padding-bottom: 5%;
    border-bottom: 2px solid black;
}

.container h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
}

#divisao_livros {
    width: 70%;
    height: 27vh;
    border-bottom: 0;
    padding: 0;
}

#listas {
    width: 45vw;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    height: 13%;
    margin-left: 5%;
}

#titulo_grafico_partes {
    font-size: 40px;
    width: 50vw;
}

#grafico1 {
    width: 33vw;
    margin-left: 10%;
    display: flex;
    align-items: center;
    margin-top: 2%;
}

.titulo_grafico {
    font-size: 50px;
    margin-left: 5%;
}

#grafico2 {
    width: 33vw;
    margin-left: 10%;
    display: flex;
    align-items: center;
    padding-bottom: 4%;
}

#grafico_novo {
    margin-top: 10%;
}

.interacao {
    width: 80%;
    display: flex;
    flex-direction: row;
    height: 100vh;
}

#grafico_votacao {
    width: 80%;
    border-radius: 10px;
}

.selects {
    margin-top: 3%;
    margin-left: 1.5%;
    width: 18%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;

}

select {
    align-self: flex-start;
    width: 97%;
    height: 8%;
    outline: 0;
    border-radius: 5px;
    background-color: #e5e5e5;
    cursor: pointer;
    transition: .3s;
}

select:hover {
    transition: .3s;
    background-color: white;
}

option {
    border-top-left-radius: none;
    background-color: #1d3557;
    border: none;
    color: white;
    cursor: pointer;
}

button {
    margin-top: 10%;
    width: 45%;
    height: 8%;
    border-radius: 8px;
    border: 0;
    background-color: #3d405b;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: .5s;
}

button:hover {
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
    background-color: #023047;
    transition: .5s;
}

#triangulo {
    width: 0; 
    height: 0; 
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent; 
    border-right:15px solid #264653; 
    position: absolute;
    margin-left: 63.5%;
    margin-top: 269%;
    display: none;
}

#aviso {    
    font-size: 15px;
    width: 10%;
    text-align: center;
    background-color: #264653;
    color: #FFFFFF;
    font-weight: 0;
    border-radius: 8px;
    padding: 5px;
    transition: .5s;
    display: none;
    position: absolute;
    margin-left: 23.5%;
    margin-top: 1.5%;
}

#fala {
    background-color: #fcbf49;
    width: 88%;
    margin-top: 10%;
    border-radius: 8px;
    padding: 10px;
    display: none;
}

#pos_grafico {
    border-top: 2px solid black;
    display: flex;
    align-items: center;
    height: 5%;
    padding-top: 5%;
}

#breve {
    height: 2%;
    margin-top: 0;
    font-weight: bold;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 5%;
}

.footer {
    width: 100%;
    height: 8vh;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'montserrat', sans-serif;
    font-size: 18px;
}

::-webkit-scrollbar {
    background-color: #B2F7EF;
}

::-webkit-scrollbar-thumb {
    background-color: #22333b;
    width: 8px;
}