@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
body {
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    height: 11vh;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid black;
    position: fixed;
    z-index: 999;
}

.header .container {
    width: 80%;
    height: 11vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* #logo_site {
    width: 30%;
    height: 10vh;
} */

#logo_bible_learning {
    height: 9vh;
    margin-left: 1%;
    cursor: pointer;
}


.navbar {
    display: flex;
    flex-direction: row;
    width: 23%;
    height: 13vh;
    list-style: none;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.navbar li {
    font-family: 'Exo 2', sans-serif;
    font-size: 19px;
    font-weight: bold;
    cursor: pointer;
    padding: 13px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}

.navbar li:hover {
    background-color: #ced4da;
}

.navbar a {
    font-family: 'Exo 2', sans-serif;
    font-size: 19px;
    font-weight: bold;
    cursor: pointer;
    padding: 13px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}

.navbar a:hover {
    background-color: #ced4da;
}

.banner {
    width: 100%;
    height: 630vh;
    background-color: #f5ebe0;
    display: flex;
    justify-content: center;
}

.banner .container {    
    margin-left: 3%;
    width: 80%;
    height: 630vh;
    display: flex;
    flex-direction: column;
}

#first_title {
    margin-top: 12%;
    font-size: 60px;
}

#first_text {
    padding-bottom: 2%;
}

.container p {
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
    width: 70%;
    height: 6.5%;
    padding-bottom: 5%;
    border-bottom: 2px solid black;
}

.container h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
}

#divisao_livros {
    width: 70%;
    height: 27vh;
    border-bottom: 0;
    padding: 0;
}

#listas {
    width: 45vw;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    height: 13%;
    margin-left: 5%;
}

.interacao_porc {
    /* background-color: #023047; */
    width: 64%;
    height: 50vh;
    font-family: 'Poppins', sans-serif;
}

.interacao_porc #titulo_porc {
    font-size: 35px;
    margin-top: 10%;
}

.interacao_porc #span_porc {
    font-size: 20px;
    font-weight: bold;
    margin-left: 5%;
}

#titulo_grafico_partes {
    font-size: 40px;
    width: 50vw;
}

.interacao_porc select {
    height: 9%;
    margin-bottom: 3%;
}

#btn_porc {
    height: 9%;
    width: 20%;
}

#resultado {
    margin-left: 5%;
    font-size: 20px;
}

#porcentagens {
    width: 100%;
    height: 7vh;
    background-color: #a8dadc;
    border-radius: 5px;
}

#barra {
    height: 100%;
    width: 0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    transition: .5s;
}

#erro {
    position: absolute;
    width: 14%;
    height: 11%;
    background-color: #ffbe0b;
    margin-top: -10%;
    margin-left: 11%;
    display: flex;
    align-items: center;
    padding-left: 1%;
    padding-top: .4%;
    border-radius: 5px;
    font-weight: bold;
    display: none;
}

#triangulo_erro {
    width: 0; 
    height: 0; 
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent; 
    border-right:15px solid #ffbe0b;
    position: absolute;
    margin-top: -7%;
    margin-left: 10.2%;
    display: none;
}

/* #grafico1 {
    width: 50vw;
    margin-left: 2%;
    display: flex;
    align-items: center;
    margin-top: 2%;
}

#grafico2 {
    width: 30vw;
    margin-left: 10%;
    display: flex;
    align-items: center;
    padding-bottom: 4%;
}

#grafico_novo {
    margin-top: 10%;
} */

#grafico_votacao {
    width: 80%;
    border-radius: 10px;
}

.selects {
    /* margin-top: 3%; */
    /* margin-left: 1.5%; */
    width: 79.98%;
    height: 8vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;
    background-color: #457b9d;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.selects h4 {
    width: 35%;
    margin-left: 5%;
}

select {
    margin-top: 2%;
    align-self: flex-start;
    width: 20%;
    height: 50%;
    outline: 0;
    border-radius: 5px;
    background-color: #e5e5e5;
    cursor: pointer;
    transition: .3s;
}

select:hover {
    transition: .3s;
    background-color: white;
}

option {
    border-top-left-radius: none;
    background-color: #1d3557;
    border: none;
    color: white;
    cursor: pointer;
}

button {
    margin-left: 5%;
    width: 15%;
    height: 50%;
    border-radius: 8px;
    border: 0;
    background-color: #3d405b;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: .5s;
}

button:hover {
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
    background-color: #023047;
    transition: .5s;
}

.parte_mais_votada {
    width: 30%;
    height: 100%;
    margin-left: 3%;
}

.parte_mais_votada b {
    font-size: 15px;
}

#parte_votada {
    margin-left: 30%;
    margin-bottom: 10%;
}

#triangulo {
    width: 0; 
    height: 0; 
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #ffbe0b;
    position: absolute;
    margin-left: 19.5%;
    margin-top: 209%;
    display: none;
}

#aviso {    
    font-size: 15px;
    width: 10%;
    text-align: center;
    background-color: #ffbe0b;
    color: black;
    font-weight: 0;
    border-radius: 8px;
    padding: 5px;
    transition: .5s;
    display: none;
    position: absolute;
    margin-left: 9%;
}

.interacao {
    width: 80%;
    display: flex;
    flex-direction: column;
    height: 150vh;
}

#h1_testamento {
    width: 80%;
}

.interacao_testamento {
    width: 80%;
    height: 55vh;
    background-color: #a8dadc;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
}

#grafico_votacao_testamentos {
    width: 50%;
}

.select_testamento {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.select_testamento select {
    width: 55%;
    height: 10%;
    margin-left: 25%;
    margin-top: 15%;
    background-color: #62b6cb;
    border: 0;
}

.select_testamento button {
    width: 45%;
    height: 10%;
    margin-left: 30%;
    margin-top: 20%;
}


#pos_grafico {
    border-top: 2px solid black;
    display: flex;
    align-items: center;
    height: 5%;
    padding-top: 5%;
    margin-top: 7%;
}

#breve {
    height: 2%;
    margin-top: 5%;
    font-weight: bold;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
    border-top: 2px solid black;
}

.footer {
    width: 100%;
    height: 8vh;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'montserrat', sans-serif;
    font-size: 18px;
}

::-webkit-scrollbar {
    background-color: #B2F7EF;
}

::-webkit-scrollbar-thumb {
    background-color: #22333b;
    width: 8px;
}