@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
body {
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    height: 11vh;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid black;
    position: fixed;
    z-index: 999;
}

.header .container {
    width: 80%;
    height: 11vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo_site {
    width: 30%;
    height: 10vh;
}

#logo_bible_learning {
    height: 9vh;
    margin-left: 1%;
}


.navbar {
    display: flex;
    flex-direction: row;
    width: 23%;
    height: 13vh;
    list-style: none;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.navbar li {
    font-family: 'Exo 2', sans-serif;
    font-size: 19px;
    font-weight: bold;
    cursor: pointer;
    padding: 13px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}

.navbar li:hover {
    background-color: #ced4da;
}

.navbar a {
    font-family: 'Exo 2', sans-serif;
    font-size: 19px;
    font-weight: bold;
    cursor: pointer;
    padding: 13px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}

.navbar a:hover {
    background-color: #ced4da;
}

.banner {
    width: 100%;
    height: 550vh;
    background-color: #faedcd;
    display: flex;
    justify-content: center;
}

.banner .container {
    width: 80%;
    height: 550vh;
    margin-left: 3%;
}

#first_title {
    margin-top: 10%;
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
}

.banner h1 {
    font-family: 'Poppins', sans-serif;
}

iframe {
    margin-top: 3%;
}

.textos {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    width: 80%;
}

.devocional {
    margin-top: 7%;
}

.dicas_musicas {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
}

.musicas {
    width: 25%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    /* background-color: #22333b; */
}

#first_music {
    margin-top: 0;
}

.musicas b {
    font-size: 20px;
    margin-bottom: 2%;
    margin-top: 10%;
}

audio::-webkit-media-controls-enclosure {
    border-radius: 5px;
    background-color: #83c5be;
    outline: 0;
}

.imgs img {
    width: 47%;
    margin-bottom: 18%;
    margin-top: 15%;
}

.imgs {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: 20%;
}

::-webkit-scrollbar {
    background-color: #B2F7EF;
}

::-webkit-scrollbar-thumb {
    background-color: #22333b;
    width: 8px;
}