body {
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    height: 11vh;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid black;
}

.header .container {
    width: 80%;
    height: 11vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo_site {
    width: 30%;
    height: 10vh;
}

#logo_bible_learning {
    height: 9vh;
    margin-left: 1%;
}


.navbar {
    display: flex;
    flex-direction: row;
    width: 33%;
    height: 13vh;
    list-style: none;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.navbar li {
    font-family: 'Exo 2', sans-serif;
    font-size: 19px;
    font-weight: bold;
    cursor: pointer;
    padding: 13px;
    border-radius: 5px;
}

.navbar li:hover {
    background-color: #ced4da;
}

.banner {
    width: 100%;
    height: 80.7vh;
    background-image: url(../imgs/estudo_escurecido.png);
    background-size: cover;
    display: flex;
    justify-content: center;
}

.banner .container {
    width: 80%;
    height: 80.7vh;
    display: flex;
    align-items: center;
}

.banner p {
    font-family: 'montserrat', sans-serif;
    font-size: 70px;
    text-align: center;
    font-weight: bold;
}

.banner .links {
    font-family: 'montserrat', sans-serif;
    text-decoration: none;
    font-size: 35px;
    color: black;
    margin-top: 2%;
    margin-left: 7%;
    padding: 10px;
    transition: .2s;
    border-radius: 10px;
    margin-left: 13%;
    cursor: pointer;
}

.banner .links:hover {
    background-color: #9db4c0;
    border-radius: 10px;
    transition: .2s;
}

h1 {
    font-family: 'Exo 2', sans-serif;
    font-size: 40px;
    margin-left: 10%;
    margin-top: 6%;
}

.sumario {
    width: 57%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    color: black;
    background-color: #b8dbd9;
    opacity: 0.99;
    border-radius: 15px;
    margin-left: 7%;
}

#curiosidade {
    margin-top: 4%;
    width: 34%;
    height: 9%;
}

#curiosidade img {
    height: 60%;
}

#dicas {
    width: 17%;
    height: 9%;
}

#dicas img {
    height: 60%;
}

#comunidade {
    width: 34%;
    height: 9%;
}

#comunidade img {
    height: 60%;
}

.footer {
    width: 100%;
    height: 8vh;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'montserrat', sans-serif;
    font-size: 18px;
}

::-webkit-scrollbar {
    background-color: #B2F7EF;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

::-webkit-scrollbar-thumb {
    background-color: #22333b;
    width: 8px;
}