body {
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    height: 13vh;
    background-color: #A5FFD6;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid black;
    position: fixed;
}

.header .container {
    width: 80%;
    height: 13vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo_bible_learning {
    height: 11vh;
}

.navbar {
    display: flex;
    flex-direction: row;
    width: 10%;
    height: 13vh;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar a {
    text-decoration: none;
    color: black;
    font-family: 'Exo 2', sans-serif;
    font-size: 20px;
    font-weight: bold;
    padding: 19px;
    transition: 0.3s;
    border-radius: 5px;
}

.navbar a:hover {
    background-color: #84dcc6;
    transition: 0.3s;
}

.banner {
    width: 100%;
    height: 100vh;
    background-color: #98C1D9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 35%;
    height: 60%;
    background-color: #FFFFFF;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.card .container {
    width: 85%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.card .container h1 {
    font-family: 'Exo 2', sans-serif;
    font-size: 40px;
}

.linha {
    width: 85%;
    height: .3%;
    background-color: black;
}

.card .form {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 48%;
    margin-left: 4%;
}

.form #p1 {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'montserrat', sans-serif;
}

.form #p2 {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'montserrat', sans-serif;
}

.form label {
    font-size: 20px;
    margin-top: 15%;
}

.form input {
    width: 85%;
    height: 15%;
    border-radius: 5px;
    border: .5px solid black;
    outline: 0;
    margin-top: 2%;
    background-color: #EEEEEE;
    padding-left: 3%;
    font-size: 15px;
}

.card button {
    width: 30%;
    height: 10%;
    margin-top: 7%;
    background-color: #10002B;
    color: white;
    font-weight: bold;
    border-radius: 15px;
    font-size: 17px;
    cursor: pointer;
    transition: .5s;
}

.card button:hover {
    -webkit-transform: scale(1.03);
    -ms-transform: scale(1.03);
    transform: scale(1.03);
    transition: .5s;
    color: #ade8f4;
}

#div1 {
    margin-top: 7%;
    background-color: #ffd670;
    width: 22%;
    height: 4%;
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    font-size: 15px;
    position: fixed;
    display: none;
    padding-top: .6%;
}

#triangulo_input_nome {
    width: 0; 
    height: 0; 
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #ffd670;
    margin-left: 5%;
    display: none;
}

#span_check_nome {
    position: fixed;
    margin-left: -31.5%;
    margin-top: .6%;
    font-size: 35px;
    color: #80b918;
    display: none;
}

#div2 {
    margin-top: 13.4%;
    background-color: #ffd670;
    width: 24%;
    height: 6%;
    display: flex;
    text-align: center;
    align-items: center;
    border-radius: 5px;
    font-size: 15px;
    position: fixed;
    display: none;
    padding-top: .3%;
}

#triangulo_input_email {
    width: 0; 
    height: 0; 
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #ffd670;
    margin-left: 5%;
    display: none;
}

#span_check_email {
    position: fixed;
    margin-left: -31.5%;
    margin-top: 13%;
    font-size: 35px;
    color: #80b918;
    display: none;
}

#div3 {
    margin-top: 7.2%;
    background-color: #ffd670;
    width: 15.5%;
    height: 5.5%;
    display: flex;
    text-align: center;
    align-items: center;
    border-radius: 5px;
    font-size: 15px;
    position: fixed;
    display: none;
    padding-top: .2%;
}

#triangulo_input_senha {
    width: 0; 
    height: 0; 
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #ffd670;
    margin-left: 5%;
    display: none;
}

#span_check_senha {
    position: fixed;
    margin-left: 31%;
    margin-top: .5%;
    font-size: 35px;
    color: #80b918;
    display: none;
}

#div4 {
    margin-top: 13.5%;
    background-color: #ffd670;
    width: 12%;
    height: 3%;
    display: flex;
    text-align: center;
    align-items: center;
    border-radius: 5px;
    font-size: 15px;
    position: fixed;
    display: none;
    padding-top: .3%;
}

#triangulo_input_repetir_senha {
    width: 0; 
    height: 0; 
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #ffd670;
    margin-left: .7%;
    display: none;
    position: fixed;
    margin-top: 12.5%;
}

#span_check_repetir_senha {
    position: fixed;
    margin-left: 31%;
    margin-top: 13%;
    font-size: 35px;
    color: #80b918;
    display: none;
}